#root {
  background-color: beige;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


#overlay {
  visibility: hidden;
  position: absolute;
  background-color: grey;
  height: 500px;
  width: 500px;
}
#canvas {
  background-color: #cecece;
  background-color: black;
  border: solid darkgrey 0.2rem;
}
