@font-face {
  font-family: "Digi";
  src: url("./fonts/digital/DIGI.TTF");
}

#background {
  background-color: rgb(186, 73, 73);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background > * {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-family: "Digi";
  box-sizing: border-box;
}

#timer {
  /* background-color: rgba(255, 255, 255, 0.793); */
  width: 25rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.6rem;
  border-radius: 0.4rem;
  background-color: rgb(73, 73, 73);
  border: rgb(81, 81, 81) solid 0.6em;
}

#counter {
  border-radius: 0px;
  width: 100%;
  height: calc(100% - 4rem);
}

#controls {
  /* background-color: lightgray; */
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

#start-pause-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  height: 5rem;
  width: 5rem;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(186, 73, 73);
  border: rgb(179, 47, 47) solid 0.2rem;
}

.start-btn {
  padding: 0.6rem 0rem 0rem 1rem;
}

.pause-btn {
  padding: 0.4rem 0rem 0.6rem 0.5rem;
}

#start-pause-btn:hover {
  background-color: rgba(229, 96, 96, 0.677);
  border: rgba(222, 91, 91, 0.602) solid 0.2rem;
}

#countdown-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex: 1;
}

#countdown {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 73, 73);
  color: white;
  font-size: 2.6rem;
  width: 12rem;
  height: 4rem;
  border-radius: 0.4rem;
  font-weight: 700;
}

#circle-progress,
#circle-background {
  stroke-width: 1.8;
}

#circle-progress {
  transition: stroke-dashoffset 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  fill: none;
  stroke: rgb(186, 73, 73);
  stroke-width: 0.25rem;
  stroke-linecap: round;
}

#circle-background {
  fill: none;
  stroke: rgb(206, 205, 205);
  stroke-opacity: 0.5;
}
