@font-face {
  font-family: "Digi";
  src: url("./fonts/digital/DIGI.TTF");
}

#root {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 2rem;
  background-color: rgb(186, 73, 73);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#root > * {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-family: "Digi";
  box-sizing: border-box;
  display: flex;
}

#timer-stored {
  width: 15rem;
  margin-left: 1rem;
  margin-bottom: 5%;
  margin-bottom: 5%;
}

#timer,
#timer-stored {
  /* background-color: rgba(255, 255, 255, 0.793); */
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  background-color: rgb(73, 73, 73);
  border: rgb(81, 81, 81) solid 0.6em;
  margin-bottom: 1.5rem;
}

#timer {
  width: 25rem;
}

#timers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 22rem;
  overflow-y: scroll;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}

#controls {
  /* background-color: lightgray; */
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

#timer-stored #start-pause-btn,
#timer-stored #reset-btn {
  height: 3rem;
  width: 3rem;
}
#timer-stored .start-btn {
  padding: 0.2rem 0.6rem 0rem 1rem;
}

#timer-stored .pause-btn {
  padding: 0.2srem 0rem 0.6rem 0.4rem;
}

#start-pause-btn,
#reset-btn {
  margin: 0px 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(186, 73, 73);
}

#reset-btn {
  background: url("../svg/restart.svg");
  background-color: rgb(186, 73, 73);
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
}

.start-btn {
  padding: 0.6rem 0rem 0rem 1rem;
}

.pause-btn {
  padding: 0.4rem 0rem 0.6rem 0.5rem;
}

#start-pause-btn:hover,
#reset-btn:hover {
  background-color: rgba(229, 96, 96, 0.677);
  border: rgba(222, 91, 91, 0.602) solid 0.2rem;
}

#countdown-ctn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex: 1;
}

#countdown {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 73, 73);
  color: white;
  font-size: 2.6rem;
  min-width: 10rem;
  height: 4rem;
  border-radius: 0.4rem;
  font-weight: 700;
}

#circle-progress,
#circle-background {
  stroke-width: 1.8;
}

#circle-progress {
  transition: stroke-dashoffset 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  fill: none;
  stroke: rgb(186, 73, 73);
  stroke-width: 0.25rem;
  stroke-linecap: round;
}

#circle-background {
  fill: none;
  stroke: rgb(206, 205, 205);
  stroke-opacity: 0.5;
}
